
/* helper classes */
hr.skinny {
    margin: 10px 0px;
}
.pointer {
    cursor: hand;
    cursor: pointer;
}

.hover { 
    opacity: .6;
}
.hover:hover {
    opacity: 1;
}

.hover-inverted:hover {
    opacity: .8;
}

.link {
    color: #428bca;
}
.icon {
    color: #666;
}
.icon:hover {
    color: #222;
}

.overflow {
    overflow-x: scroll;
}

.sidebar-nav .nav > li > a {
    padding: 10px 10px 10px 15px;
}

.sidebar-collapse {
    border-right: 1px solid #e7e7e7;
}

.page-header {
    margin-top: 20px; /*override bootstrap*/
}

.page-title {
    margin: 5px 0px;
}

/* app pages */

.app-search {
    margin: 15px 0 0 0;
}

.app-list {
    margin: 20px 0 0 0;
}
.app-list a,
.app-list span{
    display: block;
    color: #444;
    margin: 0 0 20px 0;
    border: 1px solid #fff;
}

.app-list a:hover {
    text-decoration: none;
}
.app-list a h4 {
    color: #428bca;
}
.app-list a:hover h4 {
    text-decoration: underline;
}

#task-count {
    background-color: #666;
}

#task-count-queued:after,
#task-count-running:after {
    content: "\2022";
    color: #ccc;
}


.ts {
    padding-left: 5px;
}

.task-status-queued {
    border-left: 5px solid #96e8ff;
}


.task-status-running {
    border-left: 5px solid #ffee93;
}

.task-status-completed {
    border-left: 5px solid #a5ffa0;
}
.queued {
    /*color: #007fff;*/
    color: #96e8ff;
}
.running {
    /*color: #c9ba4c;*/
    color: #ffee93;
}
.completed {
    /*color: #379e1a;*/
    color: #a5ffa0;
}



/* fixme -> bootstrap 3.3 */
.modal-dialog {
    z-index: 9999;
}

/* polymer designing */

md-input-group label {
    margin-bottom: 0;
}
md-input-group input {
    width: 100%;
}





