
/* helper classes */
hr.skinny {
    margin: 10px 0px;
}
.point {
    cursor: hand;
    cursor: pointer;
}

.hidden-table {
    visibility: hidden !important;
}

.hover { 
    opacity: .6;
}
.hover:hover {
    opacity: 1;
}

.hover-inverted:hover {
    opacity: .8;
}

.link {
    color: #428bca;
}

.soft {
    color: #aaa;
}

.table > thead > tr > th {
    color: #666;
}
.table > tbody > tr > td { 
    vertical-align: inherit;
}

.overflow {
    overflow-x: scroll;
}

.green {
    color: #46A997;
}

.bold {
    font-weight: 700;
}

.bold-hover:hover {
    font-weight: 700;
}

/* navigation mods */
.navbar-default {
    background-color: #46A997;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);     
}
.navbar > li >a:hover {
    color: #aaa !important;
    background-color: #fff;
}


.navbar-top-links > li > a,
.navbar-brand {
    color: #fff !important;
}

.navbar-top-links > li > a:hover {
    color: #f2f2f2 !important;    
    background-color: #46A997 !important; 
}

.nav .open>a {
    background-color: #46A997 !important; 
}

.sidebar {
    z-index: 3000;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
}

.sidebar a >i {
    color: #666;
    font-size: 1.2em;
}

.sidebar-nav .nav > li > a {
    color: #666;
    font-weight: 500;
    padding: 10px 10px 10px 15px;
}

.sidebar-nav .nav > li > a.active{
    padding-left: 9px;
    border-left: 6px solid #40D4E7;
    -webkit-box-shadow: inset 1px 0px 0px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 1px 0px 0px 0px rgba(0,0,0,0.05);
    box-shadow: inset 1px 0px 0px 0px rgba(0,0,0,0.05);    
}

.sidebar-collapse {
    color: #46A997 !important;
    background-color: #444 !important;
    border-right: 1px solid #444;   
}

.sidebar-collapse:hover {
    color: #222 !important;
}


.navbar-brand:hover {
    color: #f2f2f2 !important;
    background-color: #46A997;
}


/* page mods */
.page-header {
    margin-top: 20px; /*override bootstrap*/
}

.page-title {
    margin: 5px 0px;
}

/* app pages */
.app-search {
    margin: 15px 0 0 0;
}

.app-list {
    margin: 20px 0 0 0;
}

.app-list a,
.app-list span{
    display: block;
    color: #444;
    margin: 0 0 20px 0;
    border: 1px solid #fff;
}

.app-list a:hover {
    text-decoration: none;
}
.app-list a h4 {
    color: #428bca;
}
.app-list a:hover h4 {
    text-decoration: underline;
}

#task-count {
    background-color: #666;
}

#task-count-queued:after,
#task-count-running:after {
    content: "\2022";
    color: #ccc;
}

/* task status stuff(ts) */
.ts {
    padding-left: 5px;
}
.ts div { /*override*/ 
    color: #666;
}
.ts-queued {
    border-left: 5px solid #96e8ff;
}
.ts-running {
    border-left: 5px solid #ffee93;
}
.ts-completed {
    border-left: 5px solid #a5ffa0;
}
.queued {
    /*color: #007fff;*/
    color: #96e8ff;
}
.running {
    /*color: #c9ba4c;*/
    color: #ffee93;
}
.completed {
    /*color: #379e1a;*/
    color: #a5ffa0;
}

.position-fixed {
    position: fixed;
}


/* fixme -> bootstrap 3.3 */
.modal-dialog {
    z-index: 9999;
}

/* workspaces */

.select-opts {
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 70px;
    padding: 0 0 6px 0;
    border-bottom: 2px solid #ddd;
}
.select-opts span {
    margin: 0 25px 0 0;
}

#ws-table {
    margin: 0 0 0 0 !important; /* variable, set by js */
}

.fixed-header {
    z-index: 1000;
    position: fixed;
    background-color: #fff; 
    margin: -60px 30px 15px 0px;
}

.fixed-header h4 {
    margin: 20px 0 0 0;
}
.fixed-header table{
    margin: 0;
}
.ws-opt {
    color: #666;
}
.ws-opt .fa-folder-o {
    font-weight: 700;
}

.ws-opt:hover {
    color: #000;
    cursor: hand;
    cursor: pointer
}
.fa-folder-o {
    color: #46A997;
}

#context-menu .dropdown-menu>li>a {
    padding: 3px 15px;
}


/* upload stuff */
.upload-form {
    margin: 0 0 20px 40px;
}

/* polymer designing */
md-input-group label {
    margin-bottom: 0;
}
md-input-group input {
    width: 100%;
}
md-backdrop {
    z-index: 4000;
}
.md-dialog-container {
    z-index: 4001;
}

/* context menu  */
.highlight {
    color: #fff;
    background-color: #000;
}


/* mini file browser */

.file-browser-loader {
    margin: -20px -15px -20px -20px;
    color: #666;
}

/* uiTools.css */


#notification-container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#notification {
    z-index: 6000;
    color: #000;
    opacity: .8;
    position: fixed;
    top: 0;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background: #acc474;
}
#notification.error {
    color: #fff;
    background: #a93c3c;
}


