<!DOCTYPE html>
<html ng-app="appTasker" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Prototype for App Tasker">
    <meta name="author" content="nconrad">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>{{$root.ui_name}}</title>

    <link href="js/angular/material/angular-material/angular-material.css" rel="stylesheet">
    <link href="js/angular/material/angular-material/themes/default-theme.css" rel="stylesheet">

    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- build:css build/style.css -->
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="css/app.css" rel="stylesheet" type="text/css">
    <link href="css/viz.css" rel="stylesheet" type="text/css">
    <link href="lib/dd-filter/dd-filter.css" rel="stylesheet" type="text/css">
    <link href="lib/ng-browse/ng-browse.css" rel="stylesheet" type="text/css">
    <!-- endbuild -->

    <!--<script src="app/clients/appService.js"></script>-->

    <!-- build:js build/site.js -->
    <script src="js/jquery/jquery-1.11.0.min.js"></script>
    <script src="js/jquery/jquery-ui.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/viz/d3.min.js"></script>

    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-ui-router.min.js"></script>
    <script src="js/angular/material/angular-aria/angular-aria.js"></script>
    <script src="js/angular/material/angular-animate/angular-animate.js"></script>
    <script src="js/angular/material/hammerjs/hammer.js"></script>
    <script src="js/angular/material/angular-material/angular-material.js"></script>

    <script src="app/app.js"></script>
    <script src="lib/seed-rpc/seed-rpc.js"></script>
    <script src="app/services/auth.js"></script>
    <script src="app/services/appUI.js"></script>
    <script src="app/services/ws.js"></script>
    <script src="app/services/upload.js"></script>
    <script src="app/services/uiTools.js"></script>
    <script src="app/controllers.js"></script>
    <script src="app/directives.js"></script>
    <script src="lib/ng-context-menu/ng-context-menu.js"></script>
    <script src="lib/dd-filter/dd-filter.js"></script>
    <script src="lib/ng-browse/ng-browse.js"></script>
    <!-- endbuild -->

    <script src="config.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper" ng-controller="MainCtrl">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ng-if="$root.user" class="navbar-brand sidebar-collapse" sidebar-collapse>
                    <i class="fa fa-caret-left"></i> <i class="fa fa-bars"></i>
                </a>
                <a class="navbar-brand pull-left" ui-sref="app">{{$root.ui_name}}</a>
            </div>

            <!--
            <ul class="nav navbar-nav">
                <li>
                    <a class="pull-left" ui-sref="app.public">Public Data</a>
                </li>
            </ul>
            -->

            <!--
            <form ng-if="$root.user" class="navbar-form navbar-left col-md-12" role="search">
                <div class="form-group">
                    <div dd-filter
                         dd-id="input-ws"
                         dd-title="Current Workspace"
                         dd-placeholder="Filter workspaces"
                         dd-default="{{selectedWS}}"
                         dd-data="appUI.ws_list">
                    </div>
                </div>

            </form>

            <ul ng-if="$root.user" class="nav navbar-top-links navbar-left">
               <li ui-sref="app.objects({ws: selectedWS})">
                    <a>Objects (<span>{{appUI.ws_objects.length}}</span>)</a>
                </li>
            </ul>-->

            <ul ng-if="$root.user" class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a  class="dropdown-toggle" data-toggle="dropdown">help
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="app.help">
                                <i class="fa fa-question fa-fw"></i> Help
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a  class="dropdown-toggle" data-toggle="dropdown">{{$root.user}}
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <!--<li>
                            <a ui-sref="user"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a ui-sref="userSettings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>-->
                        <li>
                            <a ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div ui-view></div>
    </div>

</body>

</html>
