<div id="table-page-wrapper">
    <div class="fixed-header" fixed-header fixed-table="ws-table">
        <h4>
            <img src="img/file-cabinet-icon.svg" style="opacity: .4;" width="22" height="22"> 
            My Data
        </h4>


        <div ng-if="!loading" class="pull-right">
            <span class="ws-opt pull-right" ng-click="newPlaceholder()">  <!-- newWSModal($event)-->
                <i class="fa fa-folder-o"></i>
                new folder
            </span>
            <!--<span>
                <input type="text" class="form-control input-sm" ng-model="wsSearch" placeholder="search {{path[0]}}..." >
            </span>-->
        </div>

        <table ng-show="!loading" class="table">
            <thead>
                <tr ng-class="{'hidden-table': select == true}">
                    <th class="empty-header"> </th>
                    <th ng-click="predicate = 'name'; reverse=!reverse" class="point">Name
                        <span ng-if="predicate == 'name'">
                            <i ng-if="reverse" class="fa fa-caret-down"></i>
                            <i ng-if="!reverse" class="fa fa-caret-up"></i>
                        </span>
                    </th>
                    <th ng-click="predicate = 'owner'; reverse=!reverse" class="point">Owner
                        <span ng-if="predicate == 'owner'">
                            <i ng-if="reverse" class="fa fa-caret-down"></i>
                            <i ng-if="!reverse" class="fa fa-caret-up"></i>
                        </span>
                    </th>        
                    <th ng-click="predicate = 'timestamp'; reverse=!reverse" class="point">Mod Date
                        <span ng-if="predicate == 'timestamp'">
                            <i ng-if="reverse" class="fa fa-caret-down"></i>
                            <i ng-if="!reverse" class="fa fa-caret-up"></i>
                        </span>
                    </th>
                    <th ng-click="predicate = 'files'; reverse=!reverse" class="point">Files
                        <span ng-if="predicate == 'files'">
                            <i ng-if="reverse" class="fa fa-caret-down"></i>
                            <i ng-if="!reverse" class="fa fa-caret-up"></i>
                        </span>
                    </th>

                    <div class="select-opts" ng-if="select">
                        <span>{{uiTools.trim(selected.name, 20)}}</span>
                        <span ng-click="deleteWS(selected.name)" class="ws-opt"><i class="fa fa-trash-o"></i> Delete</span>
                        <span class="ws-opt"><i class="fa fa-edit"></i> Rename...</span>
                        <span class="ws-opt"><i class="fa fa-cloud-download"></i> Download...</span>
                    </div>
                </tr>
            </thead>
        </table>

    </div>

    <table ng-if="!loading" id="ws-table" class="table">
        <thead>
            <tr>
                <th> </th>
                <th>Name</th>
                <th>Owner</th>
                <th>Mod Date</th>
                <th>Objects</th>
            </tr>
        </thead>

        <tr ng-if="newFolder">
            <td><i class="fa fa-folder-o fa-2x soft"></i></td>
            <td>
                <form ng-submit="saveFolder(null, folder.name)" name="new">
                    <input type="text" 
                           name="folder"
                           ng-model="folder.name" 
                           focus-on="placeholderAdded" 
                           ng-blur="saveFolder(null, folder.name)">
                </form>
                <span ng-if="saving">saving...</span>
            </td>
            <td>Folder</td>
            <td>-</td>
            <td>-</td>
        </tr>

        <tr ng-repeat="ws in ws.workspaces | orderBy:predicate:reverse | limitTo: 50"
            ng-class="{active: selected.index == $index}"
            context-menu="openMenu($event, $index, ws)"
            context-menu-close="closeMenu($event, $index, ws)"
            data-target="context-menu"
            ng-click="selectRow($event, $index, ws)">

            <td>
                <i class="fa fa-folder-o fa-2x"></i>
            </td>
            <td>
                <form ng-if="edit.index == $index" ng-submit="mvWS(directory, selected.name, directory, edit.name)">
                    <input ng-if="!saving"
                           type="text"
                           ng-model="edit.name" 
                           focus-on="editable"
                           ng-blur="mv(directory, selected.name, directory, edit.name)" required>
                    <span ng-if="saving">saving...</span>
                </form>
                <a ng-if="edit.index != $index" ng-click="prevent($event)" ui-sref='app.dir({dir: "/{{ws.owner}}/{{ws.name}}" })'>{{ws.name}}</a>
            </td>
            <td>{{ws.owner}}</td>
            <td>{{relativeTime( ws.timestamp )}}</td>
            <td>{{ws.files}}</td>     
        </tr>
    </table>

    <div ng-if="ws.workspaces.length == 0" class="text-center no-data soft">
        No data here.  
        Drag files here to upload (coming soon).
    </div>


    <div class="dropdown position-fixed" id="context-menu">
        <ul class="dropdown-menu" role="menu">
            <li>
              <a class="pointer" role="menuitem" tabindex="1"
                 ng-click="deleteWS(selected.name) ">
                 <i class="fa fa-trash-o"></i> Delete... 
              </a>
            </li>
            <li>
              <a class="pointer" role="menuitem" tabindex="2"
                 ng-click="editableName(directory, selected)">
                 <i class="fa fa-edit"> </i> Rename...
              </a>
            </li>
            <li>
              <a class="pointer" role="menuitem" tabindex="3"
                 ng-click="panel.expanded = true">
                <i class="fa fa-cloud-download"></i> Download
              </a>
            </li>
        </ul>
    </div>



    <br>
    <md-progress-circular ng-if="loading" mode="indeterminate" diameter="40"></md-progress-circular>

</div>

<!--
["D1853754-6AC2-11E4-931B-3E09B6286A07","tombrettin","public","2014-11-12T23:22:49",0,"o","a",0,{"owner":"brettin"}]
-->