
<div class="btn-group dd-filter">
    <button ng-click="openDDSelector()" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
        {{ddDisplayed}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
            <span class="dd-filter-close glyphicon glyphicon-remove pull-right"></span>
        <div class="dd-filter-header">
            <div class="dd-filter-title pull-left">{{ddTitle}}</div>
            <input ng-model="ddModel" id="{{id}}" type="text" class="form-control" placeholder="{{ddPlaceholder}}">
        </div>

        <div class="list-unstyled dd-filter-list" role="menu">
            <li ng-repeat="item in items | filter : ddModel" key-navigation>
                <a tabindex="{{$index}}" ng-click="ddSelect($index, item)">{{item.name}}</a>
            </li>
            <p class="dd-filter-empty" ng-show="(items | filter: ddModel).length == 0">No results</div>
        </div>
    </ul>
</div>
