
<div ui-view id="page-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="h3">Apps</div>
        </div>
        <div class="col-md-5">
            <input ng-model="appQuery" type="search"
                   class="form-control pull-right app-search" placeholder="Search apps">
        </div>
        <div class="col-md-1 col-md-offset-3">
        </div>
    </div>
    <hr class="skinny"></hr>

    <div class="row app-list">
        <div  ng-if="!appQuery" class="col-md-6" ng-repeat="col in appUI.appTable">
            <div ng-repeat="app in col">
                <div ng-if="app.disabled">
                    <span class="text-muted">
                        <h4 class="media-heading">{{app.label}}</h4>
                        {{appUI.appDict[app.id].description}}
                    </span>
                </div>
                <div ng-if="!app.disabled">
                    <a ui-sref="app.id({id: app.id})">
                        <h4 class="media-heading">{{app.label}}</h4>
                        {{appUI.appDict[app.id].description}}
                    </a>
                </div>
            </div>
        </div>

        <div ng-if="appQuery" class="col-md-12" ng-repeat="app in appUI.apps | filter : appQuery" >
            <div ng-if="app.disabled">
                <span class="text-muted">
                    <h4 class="media-heading">{{app.label}}</h4>
                    {{appUI.appDict[app.id].description}}
                </span>
            </div>
            <div ng-if="!app.disabled">
                <a ui-sref="app.id({id: app.id})">
                    <h4 class="media-heading">{{app.label}}</h4>
                    {{appUI.appDict[app.id].description}}
                </a>
            </div>
        </div>

        <div ng-if="!appUI.loadingApps" ng-show="(appUI.apps | filter: appQuery).length == 0" class="col-md-12">
            <b class="text-muted">No apps found</b>
        </div>

        <md-progress-circular ng-if="appUI.loadingApps" md-mode="indeterminate" md-diameter="40"></md-progress-circular>

    </div>
</div>
