
<div class="col-md-9">
    <div class="panel panel-default" app-cell>
        <div class="panel-heading">
            <span class="panel-title pull-left">{{app.label}}</span> 
            
            <div class="pull-right text-muted">
                <a ng-click="flip($event)">
                    <i class="fa fa-question"></i>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="panel-body">
            <figure class="front">
                {{app.description}}<br><br>
                <form name="appForm" class="form-horizontal" role="form">

                  <div class="form-group" ng-repeat="field in app.parameters">
                    <label class="col-sm-3 control-label">{{field.label}}</label>

                    <div class="col-sm-9">
                        <input ng-if="field.type == 'string'"
                               id="input-{{field.id}}"
                               ng-model="fields[field.id]" 
                               name="{{field.id}}"                               
                               type="text" 
                               class="form-control" 
                               placeholder="{{field.default}}">

                        <input ng-if="field.type == 'int'"
                               id="input-{{field.id}}"
                               ng-model="fields[field.id]" 
                               name="{{field.id}}"
                               type="number" 
                               class="form-control" 
                               placeholder="{{field.default}}">

                        <input ng-if="field.type == 'wsid'"
                               id="input-{{field.id}}"
                               ng-model="fields[field.id]" 
                               name="{{field.id}}"
                               type="text" 
                               class="form-control" 
                               placeholder="{{field.default}}">

                        <div ng-if="field.type == 'wstype'"
                             dd-filter
                             dd-id="input-{{field.id}}" 
                             dd-title="Workspace Object"
                             dd-placeholder="Filter objects"
                             dd-default="{{getDefault(field.wstype)}}"
                             dd-data="appUI.wsObjsByType[field.wstype]">
                        </div>

                        <select ng-if="field.type == 'enum'" class="form-control">
                            <option ng-repeat="x in field.enum">{{x}}</option>
                        </select>


                        <span validate="{{field.type}}" 
                              ng-model="fields[field.id]"
                              ng-show="errorMsg"
                              class="text-danger">{{errorMsg}}</span>                        
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                      <button ng-click="runCell($index, app)" type="submit" class="btn btn-primary pull-right">Run</button>
                    </div>
                  </div>
                </form>
            </figure>
            
            <!-- back side of cell / documentation -->
            <figure class="back">
            </figure>
        </div>
    </div> <!-- end panel -->

</div>

<div class="col-md-3">
    <ul class="app-list list-unstyled">
        <li ng-repeat="app in appUI.apps">
            <a ui-sref="app.id({id: app.id})">{{app.label}}</a>
        </li>
    </ul>
</div>



