<div id="page-header">
    <!--<i ng-if="workspaces.length" class="fa fa-folder-o fa-2x pull-left"></i>-->

    <div ng-if="!workspaces.length">
        <b>Oh no!  First create a folder to store your data in.</b>
        <form ng-submit="createFolder(folder.name)">
            <input type="text"
                   ng-model="folder.name"
                   focus-on="placeholderAdded"
                   placeholder="Folder name">
            <input type="submit" class="btn btn-primary btn-xs" value="Create">
        </form>
    </div>

    <div ng-if="workspaces.length">
        <!--
        <b>Input Folder</b>
        <div dd-filter
            ng-model="somemodel"
            dd-id="input-ws"
            dd-change="wsChange"
            dd-title="'Input Folder'"
            dd-placeholder="Filter folders"
            dd-default="selectedWS"
            dd-data="workspaces"
            class="page-header-item">
        </div>-->


        <div class="page-header-item">
            <input type="button"
                   class="btn btn-default"
                   ng-click="openBrowser($event, 'upload')"
                   value="Upload to My Data...">
            <!--
            <form id="upload-form" class="upload-form" >
                <b>Upload to <i>{{selectedWS}}</i></b>
                <span class="btn btn-default btn-file">
                    Choose File... <input name="upload" enctype="multipart/form-data" type="file" onchange="angular.element(this).scope().createNode(this.files)" />
                </span>
            </form>-->

            <span ng-if="status.complete">
                complete.
            </span>
        </div>



        <md-progress-linear ng-if="status.count" md-mode="determinate" ng-value="status.progress"></md-progress-linear>
    </div>

</div>


<div id="page-wrapper">
    <div class="row">
        <div class="col-md-9">
            <md-card app-cell>
                <h4>{{app.label}}</h4>
                <div class="overview">{{app.description}}</div>
                <br>
                    <form name="appForm" class="form-horizontal" role="form">

                        <div class="form-group" ng-repeat="field in app.parameters">



                            <div ng-if="field.type == 'group'">
                                <div ng-repeat="field in field.group">
                                    <div class="row">
                                        <label class="col-sm-3 control-label">{{field.label}}</label>

                                        <div class="col-sm-9">
                                            <div ng-include src="'./app/views/fields.html'"></div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-repeat="field in field.sub_group">
                                    <div class="row">
                                        <label class="col-sm-3 control-label">{{field.label}}</label>
                                        <div class="col-sm-9">
                                            <div ng-include src="'./app/views/fields.html'"></div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <label class="col-sm-3 control-label">
                                {{field.label}}{{(field.required ? '*' : '')}}
                            </label>

                            <div class="col-sm-9">
                                <div ng-include src="'./app/views/fields.html'"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button ng-disabled="appForm.$invalid || appRunning"
                                        ng-click="runCell($index, app)"
                                        type="submit"
                                        class="btn btn-primary pull-right">
                                    {{appRunning ? 'Running...' : 'Run'}}
                                </button>
                            </div>
                        </div>
                    </form>
                </md-card>

                <md-card ng-if="output">
                    <h4>{{app.label}} is running.</h4>
                    <b>Parameters</b> {{output.parameters}}
                </md-card>


            </div>

            <div class="col-md-3">
                <md-card>
                    <b>Other apps</b>
                    <ul class="mini-app-list list-unstyled">
                        <li ng-repeat="a in appUI.apps">
                            <a ui-sref="app.id({id: a.id})" ng-if="app.id != a.id">{{a.label}}</a>
                        </li>
                    </ul>

                    <b>Test files</b>
                    <ul class="list-unstyled">
                        <li>contigs:
                            <a href="http://www.mcs.anl.gov/~fangfang/arast/b99.ref.fa" target="_blank">b99.ref.fa</a>
                        </li>
                        <li>pair1:
                            <a href="http://www.mcs.anl.gov/~fangfang/arast/b99_1.fq" target="_blank">b99_1.fq</a>
                        </li>
                        <li>pair2:
                            <a href="http://www.mcs.anl.gov/~fangfang/arast/b99_2.fq" target="_blank">b99_2.fq</a>
                        </li>
                        <li>single:
                            <a href="http://www.mcs.anl.gov/~fangfang/arast/se.fastq" target="_blank">se.fastq</a>
                        </li>
                </md-card>
            </div>

        </div>

    </div> <!-- end page wrapper -->

</div>



