
<nav class="sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <!--<li>
                <a ui-sref-active="active" ui-sref="app.upload">
                    <i class="fa fa-cloud-upload"></i> Upload
                    <span class="text-muted pull-right"></span>
                </a>
            </li>-->

            <li>
                <a ui-sref-active="active" ui-sref="app.ws({dir: myDataPath})">
                    <img src="img/file-cabinet-icon-invert.svg" style="margin-top: -2px;" width="18" height="18"> My Data
                    <span class="text-muted pull-right"></span>
                </a>
            </li>

            <li>
                <a ui-sref-active="active" ng-class="{active: $state.includes('app.id')}" ui-sref="app.apps">
                    <i class="fa fa-bar-chart"></i> Run Apps
                    <span class="text-muted pull-right"></span>
                </a>
            </li>

            <li>
                <a ui-sref-active="active" ui-sref="app.tasks">
                    <i class="fa fa-tasks"></i> Task Status
                    <span id="task-count" class="badge pull-right">
                        <span id="task-count-running" class="queued" tooltip="queued tasks">
                            {{appUI.status.queued}}
                        </span>
                        <span id="task-count-queued" class="running" tooltip="running tasks">
                            {{appUI.status.inprogress}}
                        </span>
                        <span id="task-count-completed" class="completed" tooltip="completed tasks">
                            {{appUI.status.completed}}
                        </span>
                    </span>
                </a>
            </li>
        </ul>
    </div>


    <div class="sidebar-nav-small" style="display: none;">
        <ul class="nav">
            <li>
                <a ui-sref-active="active" ui-sref="app.upload">
                    <i class="fa fa-cloud-upload mute"></i>
                </a>
            </li>

            <li>
                <a ui-sref-active="active" ui-sref="app.ws">
                    <i class="fa fa-folder mute"></i>
                </a>
            </li>

            <li>
                <a ui-sref-active="active" ui-sref="app.apps">
                    <i class="fa fa-bar-chart mute"></i>
                </a>
            </li>

            <li>
                <a ui-sref-active="active" ui-sref="app.tasks">
                    <i class="fa fa-tasks mute"></i>
                    <span id="task-count" class="text-muted pull-right">{{appUI.tasks.length}}</span>
                </a>
            </li>
        </ul>

    </div>

</nav>


<div ui-view>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-10">
                <h1>{{$root.ui_name}} <small>v. Alpha</small></h1>
                <h4 class="text-muted">Prototype of how apps can be ran.</h4>
                This web application is under major development and is pre-beta at this time.<br>

                <br><br>

                <h5>Notes:</h5>
                <ul>
                    <li>To submit a ticket for bugs or new features, please visit
                        <a href="https://github.com/brettin/oxcart/issues">here</a>.
                    <li><a href="https://github.com/brettin/oxcart/tree/master/tests">Test Harness</li>
                </ul>
            </div>

            <div class="col-md-2">
                <br>
                <a href="https://github.com/patric3/oxcart">
                    <i class="fa fa-github fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
</div>



