
<nav class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li>
                <a ng-class="{ active: $state.includes('app.upload')}" ui-sref="app.upload">
                    <i class="fa fa-cloud-upload"></i> Upload
                    <span class="text-muted pull-right"></span>
                </a>
            </li>


            <li>
                <a ng-class="{ active: $state.includes('app.apps')}" ui-sref="app.apps">
                    <i class="fa fa-bar-chart"></i> Run Apps
                    <span class="text-muted pull-right"></span>
                </a>
            </li>

            <li>
                <a ng-class="{ active: $state.includes('app.tasks')}" ui-sref="app.tasks">
                    <i class="fa fa-tasks"></i> Task Status
                    <span id="task-count" class="text-muted pull-right">{{appUI.tasks.length}}</span>
                </a>
            </li>
        </ul>
    </div>


    <div class="sidebar-nav-small" style="display: none;">
        <ul class="nav">
            <li>
                <a ng-class="{ active: $state.includes('app.upload')}" ui-sref="app.upload">
                    <i class="fa fa-cloud-upload"></i>
                </a>
            </li>

            <li>
                <a ng-class="{ active: $state.includes('app.apps')}" ui-sref="app.apps">
                    <i class="fa fa-bar-chart"></i>
                </a>
            </li>

            <li>
                <a ng-class="{ active: $state.includes('app.tasks')}" ui-sref="app.tasks">
                    <i class="fa fa-tasks"></i>
                    <span id="task-count" class="text-muted pull-right">{{appUI.tasks.length}}</span>
                </a>
            </li>
        </ul>

    </div>

</nav>


<div id="page-wrapper">
    <div ui-view>
        <div class="row">
            <div class="col-md-12">
                <h1>App Tasker <small>v. Alpha</small></h1>
                <h4 class="text-muted">Prototype of how apps could be done.</h4>

                <h5>Version Alpha:</h5>
                <ul>
                    <li>Just getting started</li>
                </ul>

                <h5>To do:</h5>
                <ul>
                    <li>Plug-in AWE for tasks</li>
                    <li>Restyle site using newly designed theme</li>
                </ul>

                <h5>Notes:</h5>
                <ul>
                    <li><a href="https://github.com/brettin/oxcart/tree/master/tests">Test Harness</li> 
                </ul>


            </div>
        </div>
    </div>
</div>


