
<h1>App Runner <small>v. Alpha</small></h1> 
<h4 class="text-muted">Workspace-inspired, rough prototype of how apps could be done.</h4>

<h5>Version Alpha:</h5>
<ul>
    <li>Just getting started</li>
</ul>

<h5>To do:</h5>
<ul>
    <li>Plug-in AWE for tasks</li>
    <li>Restyle site using newly designed theme</li>
    <li>Decide how the mini WS browser should appear, if at all.</li>
    <li>Add social aspects</li>
    <li>Run end-2-end tests using <a href="https://github.com/angular/protractor">protractor</a></li>
</ul>    
