



<br><br>
<div class="col-md-4 col-md-offset-4">
    <h5>Login to continue to {{$root.ui_name}}</h5>
    <form role="form">
        <div class="form-group">
            <input ng-model="user" type="text" class="form-control" placeholder="Globus username">
        </div>
        <div class="form-group">
            <input ng-model="pass" type="password" class="form-control" placeholder="Password">
        </div>

        <button ng-click="loginUser(user, pass)" type="submit" class="btn btn-primary pull-left">Login</button>
        <md-progress-circular ng-if="loading" class="pull-left" mode="indeterminate" diameter="25"></md-progress-circular>

    </form>

</div>   
