
<div id="page-wrapper" ng-controller="Proto" when-scrolled="moreData">
    <h3>Prototype page</h3>

    <p>Just some page to demonstrate potential features</p>

    <input type="search" class="form-control" placeholder="Search...">
    <br>

    <!--
    <div ng-browse2>
    </div>
    -->

    <div ng-browse="./lib/ng-browse"
         ng-browse-highlight>
    </div>

    <br>
    <br>
    <button type="button" class="btn btn-default">New Folder</button>
    <button type="button" class="btn btn-primary">Select</button>

</div>
