
<div id="page-wrapper">
	<h3>Prototype page</h3>

	<p>Just some page to demonstrate potential features</p>

	<div>
		<div ng-repeat="folder in folders" file-browser>
			<i ng-if="!loading"
	    	   ng-click="openFolder(folder)" 
			   class="fa fa-plus-square-o bold-hover point"></i>

		    <md-progress-circular ng-if="loading" 
		    				      class="pull-left file-browser-loader" 
		    				      mode="indeterminate" 
		    				      diameter="15"></md-progress-circular>

			<i class="fa fa-folder-o green bold"></i> {{folder.name}}
		</div>
	</div>
</div>
